<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div>
    <h2> Welcome back, [Teacher Name]! </h2>
  </div>
  <div>
    <a type="button" class="primary-button"> Update Weekly Scores <span type="button" class="primary-button arrow"> > </span></a>
  </div>
  <div>
    <a type="button" class="primary-button">  See Student Standings <span type="button" class="primary-button arrow"> > </span></a>
  </div>
</div>


</body>
</html>
