<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script>
    var students = require("./students.js")
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    Heading
  </div>
  <table>
    <tr><td>Student 1 students.getStudentList()</td></tr>
  </table>
</div>

</body>
</html>
