<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="text-center">
  <div class="container">
    <div>
      <div><h2>Update Weekly scores</h2></div>
      <div>
        <table align="center" width="20%" cellspacing="25" cellpadding="105">
          <% studentsinfo.forEach(function(r) { %>
          <tr><td align="left"><%= r.First_Name + " " + r.Last_Name %></td> <td align="right"><img src="../../DownChevronIcon.jpg" height="10"></td></tr>
          <% }); %>
        </table>
      </div>
    </div>

  </div>

</div>

</body>
</html>
